[Unit]
Description=Mahungu queue worker (Laravel)
After=network.target mysql.service

[Service]
User=www-data
Group=www-data
Restart=always
RestartSec=5
WorkingDirectory=/var/www/mahungu.co.mz
ExecStart=/usr/bin/php /var/www/mahungu.co.mz/artisan queue:work --queue=default --sleep=3 --tries=3 --max-time=3600
StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target
